$myStyles: "screen and (min-width: 320px)";
$tablet: "screen and (min-width: 768px)";
$computer: "screen and (min-width:1200px)";


@media #{$computer}{

.nummer{
  display: grid;
}


.søg{
  display: flex;
  justify-content: space-evenly;
  align-items: center;


}

  .overskrift1{
    font-size: 50px !important;
  }

  .lead{
    font-size: 25px !important;
  }



}