.nummer{
  display: none;
}


.page-footer{
  font-size: 10px;
}

.navn{
  font-size: 15px;
}
.overskrift1{
  font-size: 30px !important;
}

.lead{
  font-size: 15px !important;
}

.btn{
  height: 40px;
  width: 150px;
  font-size: 15px;
}

.abaca{
  height: 50px;
  width: auto;
}