.nummer{
  display: none;
}


.page-footer{
  font-size: 10px;
}

.navn{
  font-size: 15px;
}



.lead{
  font-size: 15px !important;
}

.btn{
  height: 40px;
  width: 150px;
  font-size: 15px;
}

.abaca{
  height: 50px;
  width: auto;
}

.overskrift3{

  font-max-size: 60px !important;

}