$myStyles: "screen and (min-width: 320px)";
$tablet: "screen and (min-width: 768px)";
$computer: "screen and (min-width:1200px)";


@media #{$tablet}{
  .nummer{
    display: grid;
  }




  .btn{
    height: 40px;
    width: 150px;
    font-size: 15px;
  }

}